<h1>Editando a linguaxe: "<%= @language.name %>"</h1>

<% form_for([:admin,@language]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>&nbsp;&nbsp;Nome que se emprega na pantalla
  </p>
  <p>
    <%= f.label :mimetype %><br />
    <%= f.text_field :mimetype %>&nbsp;&nbsp;MIME-Type para esta linguaxe
  </p>
  <p>
    <%= f.label :extension %><br />
    <%= f.text_field :extension %>&nbsp;&nbsp;Extension dos arquivos de esta linguaxe
  </p>
  <p>
    <%= f.label :uv_name %><br />
	<select name="language[uv_name]">
		<%- @syntaxes.each do |syntax| %><option <%= (syntax == @language.uv_name) ? "selected" : "" %> value="<%= syntax %>"><%= syntax.titleize %></option>
			<% end -%>		
	</select>
  </p>
  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>

<small style="float:right"><%= link_to 'Amosar esta linguaxe',[:admin, @language] %> |
<%= link_to 'Voltar &aacute; lista', admin_languages_path %></small>
