<h1>Xestión de Linguaxes</h1>

<table width="100%" class="listado">
  <tr class="header">
    <th>Nome</th>
	<th>MIME-Type</th>
	<th>Extensión</th>
	<th>Ultraviolet</th>
	<th colspan=3 class="acciones">Accións</th>
  </tr>

<% for language in @languages %>
  <tr>
    <td><%=h language.name %></td>
	<td><%= h language.mimetype %></td>
	<td><%= h language.extension %></td>
	<td><%= h language.uv_name %></td>
    <td class="acciones">
    	<table>
			<tr>
				<td><%= link_to (image_tag "zoom.gif"), [:admin,language] %></td>
			    <td><%= link_to (image_tag "edit.jpg"), edit_admin_language_path(language) %></td>
			    <td><%= link_to "<image src='/images/master-public-images-typus_trash.gif'/>", [:admin,language], :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
    	</table>
    </td>
  </tr>
<% end %>
</table>
<br>
<div>Engade unha nova linguaxe:
	<% form_for([:admin,@language], html_options={:style=> "display:inline"}) do |f| %>
  		<%= f.error_messages %>
		<%# f.text_field :name %>
		<select name="language[uv_name]">
			<%- @syntaxes.each do |syntax| %><option <%= (syntax == @language.uv_name) ? "selected" : "" %> value="<%= syntax %>"><%= syntax.titleize %></option>
				<% end -%>		
		</select>
    	<%= f.submit "Create" %>
	<% end %>
</div><!-- fin  -->

<% content_for :lateral do %>
  <%= render :partial => "layouts/stats_langs" %>
	
<% end %>
