<p>
  <b>Name:</b>
  <%=h @language.name %>
</p>
<p>
  <b>Mimetype:</b>
  <%=h @language.mimetype %>
</p>
<p>
  <b>Extensión:</b>
  <%=h @language.extension %>
</p>
<p>
  <b>Nombre para Ultraviolet:</b>
  <%=h @language.uv_name %>
</p>

<small style="float:right"><%= link_to 'Editar', edit_admin_language_path(@language) %> |
<%= link_to 'Voltar &aacute; lista', admin_languages_path %></small>
