<%= javascript_include_tag "fckeditor/fckeditor" %>
<h1>Editando página: <strong><%= @pagina.title.titleize %></strong></h1>

<% form_for([:admin,@pagina]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <% if params[:bigeditor] %>
    	<%=	fckeditor_textarea( "pagina", "content", :height => '400')%>
		<small class="show-fckeditor"><%= link_to "Agochar editor enriquecido", edit_admin_pagina_path %></small>
	<% else %>
		<%=f.text_area :content%>
		<small class="show-fckeditor"><%= link_to "Amosar editor enriquecido", edit_admin_pagina_path + "?bigeditor=1" %></small>
    <% end %>	
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.submit "Actualizar" %>
  </p>
<% end %>

<%= link_to 'Back', admin_paginas_path %>
