<h1>New pagina</h1>

<% form_for([:admin,@pagina]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
	
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Voltar á lista de páxinas', paginas_path %>
