<h1 class="others">Todos los pasties <span>(<%= @pastes.size %> y contando)</span></h1>
	
	<% if !@pastes.blank? %>
	  <% for paste in @pastes %>
	  	<div class="pastePreview">
	  		<p class="link" style="float:left"><%= link_to "Ver más", paste %> <span>(<%= paste.content.split("\n").size %> lineas)</span><br><br>
			<p class="when"> hace <%= time_ago_in_words(paste.created_at) %></p>
			<p class="content" style="margin-top:30px">	<%= CodeRay.scan(paste.content, Language.find(paste.language_id).name.to_sym).html %></p>
		</p>
	  	</div><!-- fin  -->
	  <% end %>
	<% else %>
		<div class="pastePreview">
			No hay pastes nuevos
		</div><!-- fin  -->
	<% end %>


	<br />
	<% content_for :lateral do %>
	  <%= render :partial => "layouts/stats_langs" %>
	
	<% end %>
