<h1 class="others">Todos los pasties <span>(<%= @pastes.size %> y contando)</span></h1>
	<div style="float:right; position:absolute; top:10px; right:10px">
		<small>P&aacute;xinas:</small><%= will_paginate @pastes, options = {:prev_label => "", :next_label => "",:id => 'wp_posts' } %>
	</div><!-- fin  -->
	
	<% if !@pastes.blank? %>

	  <% for paste in @pastes %>
	  	<%= render :partial => "layouts/paste_trim", :locals => { :paste => paste, :theme => @theme } %>
	  <% end %>
	<% else %>
		<div class="pastePreview">
			No hay pastes nuevos
		</div><!-- fin  -->
	<% end %>


	<br />
	<% content_for :lateral do %>
	  <%= render :partial => "layouts/stats_langs" %>
	  <%= render :partial => "layouts/stats_time" %>
	<% end %>
