<% form_for(@paste) do |f| %>
  <%= f.error_messages %>
	  <span class="legend">
					## Escolle a linguaxe, escribe o pastie e gardao 
	  </span>
	<div style="float:right; position:absolute; top: 15px;  right:15px">
		<label>Lenguaje: </label>
		<select name="paste[language_id]" id="paste_parser">
			<%= options_from_collection_for_select(@languages, "id", "name")  %>
		</select>
	</div><!-- fin name -->
  <p>
    <%= f.text_area :content, :html_options =>{:class=> "pastebox"} %>
  </p>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>



<% content_for :lateral do %>
  <%= render :partial => "layouts/stats_langs" %>
<% end %>