<div style="float:right">
	<script type="text/javascript" charset="utf-8">
		function reload_theme(){
			window.location="<%= paste_path.to_s+'?theme=' %>"+document.getElementById("theme").value
		}
	</script>
	<select id="theme" onchange="reload_theme();">
		<%- @themes.each_pair do |val,name| %><option <%= (@theme == val) ? "selected":"" %> value="<%= val %>" ><%= name  %></option><%- end -%>
	</select>	
</div><!-- fin  -->
<p>
  <b>Escrito en:</b>
  <%=h @language.name %>
</p>

<p>
	<%= @contenido%>
</p>


<% content_for :lateral do %>
  <label>Pegado fai</label><br />
  <span class="typo_date"id='paste_date'><%= hace_tiempo_en_palabras(@paste.created_at) %><br /></span>
  </p>
	<p style="margin-top:2em; font-size:0.75em;">
		<%= link_to "Descargar", @paste.id.to_s+"/download" %>	
		<span class="pipe">|</span>
		<%= link_to "Ver", formatted_paste_path(@paste,"text") %>
	</p>
	
	
	
	<p style="margin-top:2em;">
	<a href="/pastes/<%= @paste.id %>/reply">Paste again</a>	
	
	</p>
<% end %>
