<%= javascript_include_tag "fckeditor/fckeditor" %>
<h1>Editing paste</h1>

<% form_for([:admin,@paste]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <% if params[:bigeditor] %>
    	<%=	fckeditor_textarea( "paste", "content", :height => '400')%>
		<small class="show-fckeditor"><%= link_to "Agochar editor enriquecido", new_admin_paste_path %></small>
	<% else %>
		<%=f.text_area :content%>
		<small class="show-fckeditor"><%= link_to "Amosar editor enriquecido", new_admin_paste_path + "?bigeditor=1" %></small>
    <% end %>	
  </p>

  <p style="float:left;margin-right:15px">
    <%= f.label :language_id %><br />
	<%= collection_select("paste","language_id", @languages, "id", "name") %>
  </p>
  <p style="float:left; margin-right:15px">
    <%= f.label :tag_list %><br />
	<%= f.text_field :tag_list %>
  </p>
  <p style="clear:both">
    <%= f.submit "Actualizar" %> ou <%= link_to 'Cancelar', admin_pastes_path %>
  </p>
<% end %>

<p class="acciones">
	
</p>
