<h1>Editing paste</h1>

<% form_for([:admin,@paste]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </p>
  <p>
    <%= f.label :language_id %><br />
	<%= collection_select("paste","language_id", @languages, "id", "name") %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin,@paste] %> |
<%= link_to 'Back', admin_pastes_path %>
