<h1>Listaxe de Pastes</h1>

  <% for  paste in @pastes %>
	<h2>Paste <%=  %></h2>
	<%= render :partial => "layouts/paste_trim", :locals => {:paste => paste, :theme => @theme} %>    
	<%= link_to 'Ver Entera', [:admin,paste] %>
	<%= link_to 'Editar', edit_admin_paste_path(paste) %>
	<%= link_to 'Eliminar', [:admin,paste], :confirm => 'Are you sure?', :method => :delete %>

  <% end %>



<%= link_to 'Escribir nova paste', new_paste_path %>

<% content_for :lateral do %>
  <%= render :partial => "layouts/stats_langs" %>
  <%= render :partial => "layouts/stats_time" %>
<% end %>