<%= javascript_include_tag "fckeditor/fckeditor" %>
<% form_for([:admin,@paste]) do |f| %>
  <%= f.error_messages %>
	 <span class="legend">
					## Escolle a linguaxe, escribe o pastie e gardao 
	  </span>
	<div style="float:right; clear:left; margin-bottom:5px;">
		<label>Lenguaje: </label>
		<select name="paste[language_id]" id="paste_parser">
			<%= options_from_collection_for_select(@languages, "id", "name")  %>
		</select>
	</div><!-- fin name -->
  <p>
    <%= f.label :content %><br />
		<%=f.text_area :content%>
  </p>
  <p>
    <%= f.submit "Crear" %>
  </p>
<% end %>

<%= link_to 'Voltar รก lista', admin_pastes_path %>
