<%# cache(:action_suffix => "all_topics_"+paste.id.to_s) do  %>
	<div class="pastePreview">
		<p class="link" style="float:left"><%= link_to "Ver máis", (admin) ? admin_paste_path(paste) : paste  %> <span>(<%= paste.content.split("\n").size %> lineas)</span><br><br>
		<p class="when"> fai <%= hace_tiempo_en_palabras(paste.created_at) %></p>
		<p class="content" style="margin-top:40px">	
		<%= Uv.parse(truncate(paste.content,300), "xhtml", paste.language.uv_name, true, @theme) %></p>

	</p>
	<% if admin %>
		<p class="actions-index-pastes"><%= link_to 'Ver Enteira', [:admin,paste] %>
		<%= link_to 'Editar', edit_admin_paste_path(paste) %>
		<%= link_to 'Eliminar', [:admin,paste], :confirm => '¿Estas seguro?', :method => :delete %></p>

	<% end %>
<%# end %>
	</div><!-- fin  -->	