<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head id="head">
  	<title>Pastie :: Administración</title>
	<meta name="author" content="Fran Di&eacute;guez"/>
	<meta name="organization" content="Mabishu St."/>
	<meta name="keywords" content="paste, source, code, share, mabishu, <%# Language.find(:all) %>" />
	<meta name="description" content="Pastes - web service for posting your source code" />
	<%= stylesheet_link_tag "display" %>
    <%= javascript_include_tag :all %>
</head>
<body>
	
<div id="header" class="admin">

	<ul id="nav">
		<li><%= link_to "P&aacute;xinas", admin_paginas_path %></li>
		<li style="display:none;" class="loggedinonly"><a href="" id="mine_nav_link">Miñas</a></li>
		<li><%= link_to "Pastes", admin_pastes_path %></li>
		<li><%= link_to "Linguaxes", admin_languages_path %></li>
		<li <%= (params[:pagina] == "why") ? "class='active'" : "" %>><a href="#" onclick="$('search').show(); $('search_box').focus();">Procurar</a>
			</li>
		<li id="search" style="display:none;">
			<form action="/admin/search">
				<input type="text" style="" size="15" id="search_box" name="q" value="">
			</form>
		</li>

		<li <%= (params[:pagina] == "why") ? "class='active'" : "" %> ><a href="/why/">Porqué</a></li>
		<li <%= (params[:pagina] == "help") ? "class='active'" : "" %>><a href="/help/">Axuda</a></li>
	
		<li class="login loggedinonly" style="display:none;" id="login_nick"></li>
	
	</ul>

  <script language="javascript">//logged_in_setup();</script>

	<h1>
		<%= image_tag "pastie.gif" %>
		Sección Administración Paste
		<span class="sub" style="color:#777">
			Backend - 
			<a style="color:cf6; text-decoration:underline" href="http://www.mabishu.com/blog">olla meu blogue</a>
		</span>
	</h1>


</div>

<div id="container">
	<div id="content">
		<%= yield %>
	</div><!-- content -->
	<div id="right">
		<%= yield(:lateral) %>
	</div><!-- right -->
	<br style="clear:both;" />
</div><!-- container -->

<div id="footer">
	<p class="legal">
		<a href="/legal/" style="color:#369;">Legal</a>
	</p>
	<p class="disclaim">
		<strong>Emprega Paste para salvar a humanidade,<br /> non andes a tocalos juebos!</strong>
	</p>
	<p class="credit">
	  Creado por <a href="http://www.mabishu.com/">Fran Di&eacute;guez</a> basad&iacute;simo en <a href="http://pastie.org/">pastie.org</a>
	</p>
	<br style="clear:both;" />
</div>
</body>
</html>